<template>
    <div>
        <h3 class="">Add Developer</h3>
        <div class="row">
            <div class="col-md-6">

                <div v-if="errors" class="alert bg-danger shadow-lg">
                    <div v-for="(v, k) in errors" :key="k">
                        <p v-for="error in v" :key="error" class="text-sm">
                            {{ error }}
                        </p>
                    </div>
                </div>

                <form @submit.prevent="addDeveloper">
                    <div class="form-group mt-2">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="developer.name">
                    </div>
                    <div class="form-group mt-2">
                        <label>Sex <i class="text-muted">(Assigned at your birth)</i></label>
                        <select class="form-control" v-model="developer.sex">
                            <option v-for="option in sexOptions" v-bind:value="option.value">
                                {{ option.text }}
                            </option>
<!--                            <option value="F" selected>Female</option>
                            <option value="M">Male</option>
                            <option value="O">Other</option>-->
                        </select>
                    </div>
                    <div class="form-group mt-2">
                        <label>Hobby</label>
                        <input type="text" class="form-control" v-model="developer.hobby">
                    </div>
                    <div class="form-group mt-2">
                        <label>Date of Birth <i class="text-muted"> 16+</i></label>
                        <datetime
                            v-model="developer.birthdate"
                            input-class="form-control"
                            type="date"
                            value-zone="America/New_York"
                            zone="America/New_York"
                            format="MM/dd/yyyy"
                            :max-datetime="maxDate"
                        ></datetime>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Add Developer</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>

import moment from "moment";
import developerService from "../../services/developerService";

export default {
    data() {
        return {
            developer: {
                sex : 'F',
                //birthdate : '2001-05-05',
            },
            errors : null,
            sexOptions :[
                { text: 'Female', value: 'F' },
                { text: 'Male', value: 'M' },
                { text: 'Other', value: 'O' },
            ],
            maxDate: moment().subtract(16,'years').format('YYYY-MM-DD')
        }
    },
    methods: {
        addDeveloper() {
            
            developerService.create(this.developer)
                .then(response => (
                    this.$router.push({name: 'home'})
                ))
                .catch(error => {
                    this.errors = error.response.data.errors;
                })
                .finally(() => this.loading = false)
            ;
        }
    },
    computed: {
    },
    watch : {
        'developer.birthdate' :function(newVal, oldVal) {
            console.log(newVal);
        },
    }
}
</script>
