<template>
    <div>
        <h3 class="">Edit Developer</h3>
        <div class="row">
            <div class="col-md-6">
                <div v-if="errors" class="alert bg-danger shadow-lg">
                    <div v-for="(v, k) in errors" :key="k">
                        <p v-for="error in v" :key="error" class="text-sm">
                            {{ error }}
                        </p>
                    </div>
                </div>
                <form @submit.prevent="updateDeveloper">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="developer.name">
                    </div>
                    <div class="form-group mt-2">
                        <label>Sex <i>(Assigned at your birth)</i></label>
                        <select class="form-control" v-model="developer.sex">
                            <option v-for="option in sexOptions" v-bind:value="option.value">
                                {{ option.text }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group mt-2">
                        <label>Hobby</label>
                        <input type="text" class="form-control" v-model="developer.hobby">
                    </div>
                    <div class="form-group mt-2">
                        <label>Date of Birth</label>
                        <datetime
                            v-model="developer.birthdate"
                            input-class="form-control"
                            format="yyyy/dd/MM"
                            type="date"
                            disabled
                        ></datetime>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Update Developer</button>
                </form>
            </div>
            <div class="col-md-6 align-self-end">

            </div>
        </div>
    </div>
</template>

<script>

import developerService from "../../services/developerService";

export default {
    data() {
        return {
            developer: {
                hobby : null,
            },
            errors : null,
            sexOptions :[
                { text: 'Female', value: 'F' },
                { text: 'Male', value: 'M' },
                { text: 'Other', value: 'O' },
            ],
        }
    },
    created() {
        developerService.get(this.$route.params.id)
            .then((response) => {
                this.developer = response.data.developer;
                this.developer.name = this.developer.user.name;
                this.developer.sex = this.developer.user.sex;
                this.developer.birthdate = this.developer.user.birthdate;
            });
    },
    methods: {
        updateDeveloper() {
            developerService.update(this.$route.params.id, this.developer)
                .then((response) => {
                    this.$router.push({name: 'home'});
                })
                .catch(error => {
                    this.errors = error.response.data.errors;
                });
        }
    }
}
</script>
