<template>
    <div>
        <div class="row">
            <div class="col-md-6">
                <h3 class="">All Developers</h3>
            </div>
            <div class="col-md-6">
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="text" v-model="search" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0 ml-3" type="submit">Search</button>
                </form>
            </div>
        </div>


        <br/>

        <table class="table table-bordered table-hover" v-show="isNotEmpty">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Sex</th>
                <th>Age</th>
                <th>Hobby</th>
                <th>Date of Birth</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="developer in developers.data" :key="developer.id">
                <td>{{ developer.id }}</td>
                <td>{{ developer.user.name }}</td>
                <td>{{ developer.user.sex }}</td>
                <td>{{ developer.user.age }}</td>
                <td>{{ developer.hobby }}</td>
                <td>{{ developer.user.birthdate | formatDate }}</td>
                <td>{{ developer.created_at | formatDateTime }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <router-link :to="{name: 'edit', params: { id: developer.id }}" class="btn btn-primary">Edit
                        </router-link>
                        <button class="btn btn-danger" @click="deleteDeveloper(developer.id)">Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination
            :data="developers"
            @pagination-change-page="getDevelopers"
            align="center"
            :show-disabled="showDisabled"
            size="large">
            <span slot="prev-nav">&lt;</span>
            <span slot="next-nav"> &gt;</span>
        </pagination>

        <div class="" v-if="!isNotEmpty">
            <h3>
                Ops!
                <small class="text-muted">No results...</small>
            </h3>
            <p class="lead">It is better to light a candle than curse the darkness.</p>
        </div>

    </div>
</template>

<script>

import developerService from "../../services/developerService";

export default {
    data() {
        return {
            developers: {
                data : {}
            },
            showDisabled : true,
            search : '',
        }
    },
    computed: {
        isNotEmpty: function () {
            return this.developers.data.length > 0;
        }
    },
    created() {

        this.getDevelopers();
    },
    methods: {
        deleteDeveloper(id) {
            developerService.delete(id)
                .then(response => {
                    let i = this.developers.data.map(item => item.id).indexOf(id); // find index of your object
                    this.developers.data.splice(i, 1)
                });
        },
        getDevelopers(page = 1, search = ''){

            developerService.getAll(page, search)
                .then(response => {
                    this.developers = response.data.developers;
                    this.amount = this.developers.length;
                });
        },
    },
    watch: {
        search(value) {
            this.getDevelopers(null, value);
        }
    },
}
</script>
