<template>
    <div class="container">
        <div class="text-center app-header">
            <h1 class="text-secondary">Developer CRUD</h1>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Crud</a>
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav">
                        <router-link to="/" class="nav-item nav-link">Developers</router-link>
                        <router-link to="/add" class="nav-item nav-link">Add Developer</router-link>
                    </div>
                </div>
            </div>
        </nav>

        <br/>

        <router-view></router-view>
    </div>
</template>

<script>
export default {}
</script>

<style>
.app-header{
    margin: 20px 0 20px 0;
}
</style>
